@use 'utilities' as *;

.about {
  @include respond(md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &_img {
    padding-top: 1.5rem;
    text-align: center;

    @include respond(md) {
      padding-top: 0;
    }
  }
}
