@import "./breakpoints.scss";

.article {
  padding: 0 1.75rem;

  &__title {
    padding: 2rem 0;

    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      border-left: 4px solid var(--clr-red-500);
      padding-left: 0.5rem;
    }
  }

  &__content {
    padding-top: 1rem;
    padding-bottom: 8rem;

    h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    iframe {
      width: 100%;
      height: 340px;
      margin: 0 auto;
      border: solid 5px white;
      margin: 0.75rem 0;

      @include respond(lg) {
        height: 460px;
      }
    }

    img {
      width: 100%;
    }
  }
}
