@import "./breakpoints.scss";
@import "./tw_mixins.scss";

.cards {
  background-color: var(--clr-primery);
}

.card {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.2rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  @include shadow(md);

  @include respond(sm) {
    &:hover {
      @include hover();
    }
  }

  &:active {
    @include active_cards();
  }

  h1 {
    font-weight: 600;
  }

  i {
    font-size: 1.75rem;
    line-height: 1.5rem;
    color: var(--clr-primery);
  }
}

.tabs_cards {
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.2rem;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  @include shadow(md);

  @include respond(sm) {
    &:hover {
      @include hover();
    }
  }

  &:active {
    @include active_cards();
  }

  h1 {
    font-weight: 600;
  }
}
