@import "./breakpoints.scss";
@import "./tw_mixins.scss";

.card {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: white;
  border-radius: 0.375rem;
  width: 100%;
  padding: 1.8rem 1.5rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  @include shadow(md);

  @include respond(sm) {
    &:hover {
      @include hover();
    }
  }

  &:active {
    @include active_cards();
  }

  h1 {
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 0.3;
  }
}

.tabs_cards {
  background-color: white;
  border-radius: 0.375rem;
  width: 100%;
  padding: 1.2rem;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  @include shadow(md);

  @include respond(sm) {
    &:hover {
      @include hover();
    }
  }

  &:active {
    @include active_cards();
  }

  h1 {
    font-weight: 600;
  }
}
