@import './breakpoints.scss';
@import './tw_mixins.scss';

.section_contact {
  background-color: var(--clr-primery);
  padding-bottom: 6rem;
}

.contact {
  display: grid;
  row-gap: 1.75rem;

  @include respond(lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.contact_left {
  color: white;

  &__title {
    @include space(y, 4);

    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      border-left: 5px solid var(--clr-red-500);
      padding-left: 0.5rem;
    }

    p {
      max-width: 30rem;
    }
  }

  &__address {
    margin-top: 2rem;
    &-phone,
    &-mail,
    &-location {
      display: flex;
      align-items: center;
      @include space(x, 2);
      padding-bottom: 0.5rem;

      svg {
        height: 1.5rem;
      }
    }
  }

  &__social {
    @include space(x, 4);
    margin-top: 2rem;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      color: white;
    }
  }
}

.contact_right {
  background-color: white;
  padding: 1rem;
  border-radius: 0.75rem;

  &__title {
    span {
      font-size: 0.7rem;
      font-weight: 600;
      color: var(--clr-red-500);
      text-transform: uppercase;
      letter-spacing: var(--tracking-widest);
      margin-bottom: 0.75rem;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      margin-top: 1rem;

      input,
      textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0.8rem;
        margin: 0.3rem 0;
        border-radius: 0.3rem;
        border: 1px solid #eee;
        box-sizing: border-box;
        outline: none;

        &:focus {
          outline: none;
        }
      }

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
        height: 200px;
      }

      span {
        font-size: 0.7rem;
        color: red;
        width: 100%;
        text-align: left;
      }
    }
  }
}
