@import './breakpoints.scss';
@import './tw_mixins.scss';

.section_footer {
  padding: 1.2rem 1rem;
  background-color: #034A75;
  width: 100%;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    font-size: 0.85rem;
  }

  &_powerd {
    font-weight: 700;
    display: flex;
    align-items: center;
    @include space(x, 2);

    p {
      font-weight: normal;
    }

    span {
      color: var(--clr-red-500);
    }
  }
}
