@import './breakpoints.scss';
@import './tw_mixins.scss';

.reviews {
  
  &_cards {
    @include respond(md) {
      display: flex;
    }

    li {
      background-color: #2c97e0;
      text-align: center;
      padding: 2rem 1rem;
      width: 80%;
      margin: 0 auto 1rem auto;
      border-radius: 0.75rem;
      color: white;

      @include respond(md) {
        margin: 0 .5rem;
      }

      blockquote {
        margin-bottom: 0.5rem;
      }

      cite {
        font-weight: 600;
      }
    }
  }
}
