@import './breakpoints.scss';
@import './tw_mixins.scss';

.reviews-container {
  --spacer: 1.6rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 18rem;
  gap: 1rem;
  padding: 0 var(--spacer) var(--spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.item {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer);
  border-radius: 0.75rem;

  cite {
    font-weight: 600;
  }
}