@import './breakpoints.scss';
@import './tw_mixins.scss';

.success {
  @include respond(lg) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &_title {
    
    h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    a {
      color: var(--clr-primery);
      font-weight: 600;
    }
  }
}
