@import './breakpoints.scss';

.section_team {
  background-color: var(--clr-team);
  padding-top: 2.5rem;
}

.team {
  @include respond(md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.team_left {
  margin-bottom: 0.75rem;

  @include respond(md) {
    margin-bottom: 0;
  }
}

.team_left,
.team_right {
  text-align: center;

  &__img {
    img {
      border-radius: 9999px;
      border: 2px solid white !important;
    }
  }

  &__content {
    max-width: 24rem;
    margin: 0 auto;

    p {
      color: white;
    }

    h3 {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    span {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: var(--clr-gray-500);
    }
  }
}
